{% extends "base.html"%}

{%load thumbnail%}

{%block title%} Home Page {%endblock%}

{%block body%} 

    <a href = {% url 'feed:add' %} > Upload Post &rarr; </a> 

    {% for post in posts%}

        </br> {{post.text}} </br>

        {% thumbnail post.image "200x200" crop="center" as im %}
          <a href = "{% url 'feed:detail' post.id %}"> 
          <img src =  "{{im.url}}" width = "{{im.width}}" height="{{im.height}}" /> 
          </a>
        {% endthumbnail %}

    {% endfor %}

{%endblock%}